body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* MODAL */
.modal-header {
  background: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #566371;
  padding: 16px 24px;
  font-weight: 700;
}

.modal-title {
  word-wrap: break-word;
  font-size: 1.25rem;
  line-height: 22px;
  margin: 0;
  font-weight: 700;
  color: #566371;
}

.nav-link {
  padding: 1.1rem 1rem !important;
}

.nav-item {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0.25rem 0;
}

.user-panel {
  align-items: center;
}

.content {
  padding: 0 1.5rem !important;
}

.nav-link {
  display: flex;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.MuiToolbar-root {
  padding-left: 0 !important;
}

.MuiTableCell-head {
  background-color: #e2e6e9 !important;
  font-size: 0.875rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  padding: 0.75rem 1rem !important;
  transition: background 0.3s ease !important;
}

.MuiTableCell-body {
  color: #1e2327 !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  padding: 0.75rem 1rem !important;
}
